{% extends 'base.html' %}
{% block content %}
    <div id="login_form" class="col-sm-4 offset-sm-4">
        <h2>Connexion</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    </div>
{% endblock %}
