{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% include 'demande/detail/detail-header.html' %}

        <!-- Conteneur principal du détail de la mission -->
        <div class="border container" class="col-md-8" , style="padding: 20px;">
            {% include 'demande/detail/detail-demande.html' %}

            {% if  demande.etat != cree %}
                {% if demande.reponse %}
                    {% include 'demande/detail/detail-assignations.html' %}

                    {% if demande.etat == "cloture" or demande.etat == "termine" or demande.etat == "archive"%}
                        {% include 'demande/detail/detail-retour.html' %}
                        {% include 'demande/detail/detail-retour-spe.html' %}
                    {% endif %}

                    <div class="text-center">
                        <button type="button" class="btn btn-success m-4" onclick="window.print();return false;">
                            Télécharger/Imprimer
                        </button>
                    </div>

                {% endif %}
            {% endif %}

        </div>
    </div>

{% endblock %}
