{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="title">
        <h2 class="text-center">Demande de moyens</h2>
        <h3 class="text-center">Opération COVID-19 | Délégation Territoriale du Rhône</h3>
    </div>
    <div class="col-md-10 offset-md-1">
        {% crispy form %}
    </div>

    <script>
        $(function () {
            $('#id_titre').focus();

            const idType = $("#id_type");
            $('.optional').hide();
            $('.optional#' + idType.val()).show();

            idType.change(function () {
                $('.optional').hide();
                $('.optional#' + $('#id_type').val()).show('fast');
            });

            // setup previous and next buttons
            $('#button-id-previous').click(() => {
                $(".nav-tabs .active").parent().prev("li").find('a').click();
            });

            $('#button-id-next').click(() => {
                $(".nav-tabs .active").parent().next("li").find('a').click();
            });

            $('.datetime-input').datetimepicker({
                format: 'd/m/Y H:i',
                lang: 'fr',
            });

            // Synchro des dates de début et de fin pour le rendez -vous et pour la mission
            $('#id_date_debut').change(()=> {
                $("#id_date_presence_debut").val($("#id_date_debut").val());
            })

            $('#id_date_fin').change(()=> {
                $("#id_date_presence_fin").val($("#id_date_fin").val());
            })

            // setup tab form check
            const form = $('#demande-form');
            const submitButton = form.find('input[type="submit"]');
            const requiredInputs = form.find('input[required],select[required],textarea[required]');
            // pre compute the tab associated with each input
            const tabs = {};
            const idxToTab = requiredInputs.map((i, input) => {
                const inputJquery = $(input);
                const tabId = inputJquery.parents('.tab-pane').prop('id');
                if(!tabs.hasOwnProperty(tabId)) {
                    tabs[tabId] = {
                        $: inputJquery
                                .parents('.tab-content')
                                .siblings('.nav-tabs')
                                .find('a[href="#' + tabId + '"]'),
                        valid: true
                    };
                }
                return tabId;
            }).get();
            submitButton.hide();

            const checkForm = () => {
                // reset tab validity
                let allValid = true;
                Object.keys(tabs).forEach(k => tabs[k].valid = true);

                // check every field
                for(let i = 0; i < requiredInputs.length; i++) {
                    if(!requiredInputs[i].checkValidity()) {
                        allValid = false;
                        tabs[idxToTab[i]].valid = false;
                    }
                }

                // apply css class accordingly
                Object.keys(tabs).forEach(k => {
                    if(tabs[k].valid)
                        tabs[k].$.removeClass('invalid-form-tab');
                    else
                        tabs[k].$.addClass('invalid-form-tab');
                });

                if(allValid)
                    submitButton.show();
                else
                    submitButton.hide();
            };

            requiredInputs.on("input", checkForm);

            // trigger check immediately
            checkForm();
        });
    </script>
{% endblock %}
