{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edition du retour de mission{% endblock %}

{% block content %}
    <div class="title">
        <h2 class="text-center">Retour de mission</h2>
    </div>
    <div class="col-md-6 offset-md-3">
        <form action="{% url 'retour-form' id_dde %}" method="POST">
            {% crispy retourForm retourForm.helper %}
            {% crispy retourFormSpe retourFormSpe.helper %}

            <div class="form-action">
                <input type="submit" name="submit" value="Envoyer" class="btn btn-primary float-right">
            </div>
        </form>
    </div>
{% endblock %}
