{% extends 'base.html' %}
{% block content %}
    <div class="container" style="padding-top: 40px;">
        {% if error_list %}
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title p-2 mb-2 pl-4 rounded border border-danger btn col-12 text-danger text-left"
                             href="#collapse1" data-toggle="collapse">
                            <h4>{{ error_list|length }} Erreur{{ error_list|length|pluralize }}</h4>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        {% for error in error_list %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if untouched_list %}
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title p-2 mb-2 pl-4 rounded border border-warning btn col-12 text-warning text-left"
                             href="#collapse2" data-toggle="collapse">
                            <h4>{{ untouched_list|length }} Ressource{{ untouched_list|length|pluralize }} non modifiée{{ untouched_list|length|pluralize }}</h4>
                        </div>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        {% for warning in untouched_list %}
                            <div class="alert alert-warning">
                                {{ warning }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if add_list %}
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title p-2 mb-2 pl-4 rounded border border-success btn col-12 text-success text-left"
                             href="#collapse3" data-toggle="collapse">
                            <h4>{{ add_list|length }} ressource{{ add_list|length|pluralize }} ajoutée{{ add_list|length|pluralize }}</h4>
                        </div>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        {% for added_ressource in add_list %}
                            <div class="alert alert-success">
                                {{ added_ressource }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
