<!-- Logistique -->

<div class="row mt-4 mb-2">
    <input type="checkbox" id="logistique" name="logistique" disabled=""
           {% if demande.reponse.logistique_provisionnes %}checked{% endif %}>
    <label for="logistique" class="col-2">Logistique</label>
</div>
<div class="row">
    <div class="col border" style="white-space: pre-wrap">{{ demande.reponse.logistique }}</div>
    {% if peut_assigner_logistique %}
            <button type="button" class="btn btn-primary col-2 m-4"
                    onclick="window.location='{% url 'assign' pk=demande.id t='logistique' %}'">
                Assigner
                matos
            </button>
    {% endif %}
</div>
