<!-- Véhicules -->

<div class="row mt-4 mb-2">
    <input type="checkbox" id="vehicules" name="vehicules" disabled=""
           {% if demande.reponse.vehicules_provisionnes %}checked{% endif %}>
    <label for="vehicules" class="col-2">Vehicules</label>
</div>

<div class="row">
    {% if ASSIGNATION_VEHICULES == "INTERACTIVE" %}
        {% if vehicules %}
            <table id="table" class="table table-striped">
                <thead>
                <td scope="col">Catégorie</td>
                <td scope="col">Type</td>
                <td scope="col">Indicatif</td>
                <td scope="col">Lieu de parc</td>
                <td scope="col" style="text-align: center;">Places</td>
                <td scope="col" style="text-align: center;">Places COVID</td>
                </thead>
                <tbody>
                {% for vehicule in vehicules %}
                    <tr>
                        <td>{{ vehicule.categorieVehicule }}</td>
                        <td><span
                                class="badge badge-pill badge-secondary">{{ vehicule.typeVehicule }}</span>
                        </td>
                        <td>{{ vehicule.denomination }}</td>
                        <td>{{ vehicule.lieu.label }}</td>
                        <td style="text-align: center;">{{ vehicule.nbPlacesNormales }}</td>
                        <td style="text-align: center;">{{ vehicule.nbPlacesCovid }}</td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endif %}
    {% endif %}
    <div class="col border" style="white-space: pre-wrap">{{ demande.reponse.commentaire_vehicules }}</div>
    {% if peut_assigner_vehicules %}

        <button type="button" class="btn btn-primary col-2 m-4"
                onclick="window.location='{% url 'assign' pk=demande.id t='vehicules' %}'">
            Assigner
            vehicules
        </button>
    {% endif %}
</div>
