<!--
    1) Header
-->

<!-- Bouton flottant de retour -->
<a href="{% url 'demandes' %}" class="float">
    <svg class="bi bi-arrow-left" viewBox="0 0 16 16" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M5.854 4.646a.5.5 0 010 .708L3.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
              clip-rule="evenodd"></path>
        <path fill-rule="evenodd" d="M2.5 8a.5.5 0 01.5-.5h10.5a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
              clip-rule="evenodd"></path>
    </svg>
</a>

<!-- infos de création/màj de la demande-->
<div id="detail-header">
    <div class="row">
        <div class="col"><strong>Date de la demande :</strong> {{ demande.created_at }} par
            : {{ demande.created_by.get_full_name }}</div>
    </div>
    <div class="row">
        <div class="col"><strong>Modifiée le : </strong>{{ demande.updated_at }}</div>
    </div>

    <!-- Titre et état -->
    <h2 class="text-center m-4">Mission : {{ demande.titre }}</h2>
    <h3 class="text-center m-4">
        Etat : <strong class="color_{{ demande.etat }}">{{ demande.get_etat_display }}</strong>

        <!-- Bouton d'archivage -->
        {% if  demande.etat == 'termine' and perms.CoronApp.can_archive %}
            <button type="button" class="btn btn-warning" onclick="archive()">Archiver</button>

            <script>
                function archive() {
                    $.ajax({
                        url: "{% url 'archive' demande.id %}",
                        success: function (res) {
                            window.location = "";
                        },
                        error: function (res) {
                            console.log(res);
                            $("#error").html("<strong>Erreur: </strong> " + res.responseJSON.error);
                            $("#error").show();
                        }
                    });
                }

            </script>
        {% endif %}
    </h3>
</div>
