<!--
    3) Demande spécifique
-->

<div id="detail-demande-spe">
    {% if demande.has_demande_spe %}
        <hr/>
        <h4 class="text-center m-4">Informations spécifiques</h4>
    {% endif %}

    {% if demande.type == "maraude" %}
        <div class="row">
            <div class="col"><strong>Nombre total de personnel PASS : </strong>{{ demande.nb_PASS }}</div>
        </div>

    {% elif demande.type == "aide_alim" %}
        <div class="row">
            <div class="col"><strong>Nombre de colis d'urgence : </strong>{{ demande.nb_colis }}</div>
        </div>

    {% elif demande.type == "colis_urgence" %}
        <div class="row">
            <div class="col col-md-4'"><strong>Nombre de bénéficiaires homme : </strong>{{ demande.nb_beneficiaire_h }}
            </div>
            <div class="col-md-4"><strong>Nombre de bénéficiaires femme : </strong>{{ demande.nb_beneficiaire_f }}</div>
            <div class="col-md-4"><strong>Nombre de bénéficiaires enfant : </strong>{{ demande.nb_beneficiaire_enfant }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>Accès à l'eau potable
                : </strong>{{ demande.eau_potable|yesno:"Oui,Non,Non précisé" }}</div>
            <div class="col-md-4"><strong>Présence de frigo
                : </strong>{{ demande.frigo|yesno:"Oui,Non,Non précisé" }}</div>
            <div class="col-md-4"><strong>Possibilité de cuisiner
                : </strong>{{ demande.cuisiner|yesno:"Oui,Non,Non précisé" }}</div>
        </div>

        <div class="row">
            <strong class="col col-md-5">
                Risque sanitaire :
            </strong>
        </div>

        <textarea class="col border" readonly>{{ demande.risque_sanitaire }}</textarea>

    {% elif demande.type == "distribution" %}
        <div class="row">
            <div class="col col-md-'"><strong>Nombre de colis de type 1 : </strong>{{ demande.nb_colis_type_1 }}</div>
            <div class="col-md-4"><strong>Nombre de colis de type 2 : </strong>{{ demande.nb_colis_type_2 }}</div>
            <div class="col-md-4"><strong>Nombre de colis de type 3 : </strong>{{ demande.nb_colis_type_3 }}
            </div>
        </div>

        <div class="row">
            <strong class="col col-md-5">
                Typologie des bénéficiaires :
            </strong>
        </div>
        <textarea class="col border" readonly>{{ demande.typologie_beneficiaire }}</textarea>
    {% endif %}
</div>
